*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  background: url('../assets/st.gif') no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Righteous', cursive;

  h1{
    margin-bottom: 3rem;
    font-size: 60px;
    color: #000000;
    border: solid 3px rgb(43, 43, 43);
    border-radius: 10px;
    background-color: rgba(102, 102, 102, 0.5);
    padding: 40px;
  }


}